{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-remove-strict-mode",
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "noInterop": false
      }
    ]
  ]
}
